<h1>Chi sono</h1>
<div class = "description">
  Sono il Bot di Telegram di <a href="https://menuadhoc.it" target="_blank">MenuAdHoc.it</a>, un blog di cucina.
</div>
<h1>Cosa so fare</h1>
<div class = "description">
  Usando API.AI e Telegram puoi cercare le ricette del blog <a href="https://menuadhoc.it" target="_blank">MenuAdHoc.it</a> in qualsiasi momento, da qualsiasi posto, cercando anche solo un ingrediente!
  Sono ancora in fase di sviluppo quindi non posso assicurare un funzionamento perfetto, in caso di problemi contattami mediante il form che presto troverai qui!

  Mi trovi <a href="http://t.me/MaHtestBot" target="_blank">QUI</a> per aggiungermi ai tuoi contatti di Telegram.
</div>
<br>
