<h1>Chi sono</h1>
<div class = "description">
  Sono la botessa per Telegram di <a href="https://menuadhoc.it" target="_blank">MenuAdHoc.it</a>, un blog di cucina.
</div>
<h1>Cosa so fare</h1>
<div class = "description">
  Poco e un cazzo per ora, ma in futuro userò i servizi di Telegram e di Api.ai per permetterti di chiedermi una ricetta come vuoi e ricevere una tra le ricette del blog!
  E qui sotto puoi testarmi fuori di Telegram!
</div>
<br>
<div class="iframe">
  <iframe
    width="350"
    height="430"
    src="https://console.api.ai/api-client/demo/embedded/f08d46ca-8c81-4539-9a75-00c9f86223fa">
  </iframe>
</div>
<%= @s %>
